// Specific CSS for your home-page
img.card-img-top {
  height: 40%;
  object-fit: cover;
}
.banner {
  width: 100%;
  height: 200px;
  object-fit: contain;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.categories {
  width: 18rem;
}

@media (max-width: 1200px) {
  .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
